[submodule "bin2c"]
	path = bin2c
	url = https://github.com/s207152/bin2c.git
[submodule "LuaJIT"]
	path = LuaJIT
	url = https://github.com/s207152/LuaJIT.git
[submodule "app/src/main/jni/lanes"]
	path = app/src/main/jni/lanes
	url = https://github.com/s207152/lanes.git
